<span style='color: #000'>1359 frames</span>	<span style='color: #900'>36,864 KB</span>	<span style='color: #090'>1,472.00 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />