html body .content {
    padding: 0;
    position: relative;
    transition: 300ms ease all;
    backface-visibility: hidden;
    min-height: calc(100% - 44px);
}

body.vertical-layout.vertical-menu-modern .navbar .navbar-brand {
    padding-top: 20px !important;
}